{% include 'bold-product' with product, hide_action: 'break', output: 'none' %}
<!-- /snippets/product-form.liquid -->

{% assign variants_count = 0 %}
{% for variant in product.variants %}
{% include 'bold-variant' with variant, hide_action: 'skip' %}
  {% assign variants_count = variants_count | plus: 1 %}
{% endfor %}

{% comment %}
Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if bold_compare_at_price > bold_price %}
{% assign on_sale = true %}
{% endif %}

{% comment %}
Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

{% comment %} 
#addToCartForm is a selector for the Ajax Cart plugin
{% endcomment %}

<form action="/cart/add" data-productid="{{product.id}}"  method="post" enctype="multipart/form-data" id="AddToCartForm--{{section.id}}" class="product-form"> 

  {% comment %} id
  Show product title only as Featured product
  {% endcomment %}
  {% if template == 'index' %}
  <h1 class = "featured-product-title">
    <a href="{{ product.url | within: collection }}">{{ product.title | truncate: 50 }}</a>
  </h1>
  {% endif %}


  {% comment %} 
  Prices
  {% endcomment %}
  <h2 id="ProductPrice" itemprop="price"> 
    {% if current_variant.compare_at_price %}
    <s class = "reduced-price">{{ current_variant.compare_at_price | money | remove: '.00' }}</s>
    {% endif %}
    {{ current_variant.price | money | remove: '.00' }} 
  </h2>
  <hr>

  {% comment %} 
  Variants
  {% endcomment %}
  <style>
    .variants-wrapper label:first-child { display: none; }
    label.quantity-selector { display: block !important; }
  </style>
  <div class = "variants-wrapper">
    {% if variants_count > 1 %}
    <select name="id" data-productid="{{product.id}}" id="productSelect--{{section.id}}" class="product-single__variants">
      {% for variant in product.variants %}
	  {% include 'bold-variant' with variant, hide_action: 'skip' %}
      {% if variant.available %}
      <option {% if variant == bold_selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
      {% else %}
      <option disabled="disabled">
        {{ variant.title }} - {{ 'products.product.sold_out' | t }}
      </option>
      {% endif %}
      {% endfor %}
    </select>
    {% if bold_variants_size > 1 %}
      {% for option in product.options %}
    	{% unless option == 'Size' %}
        {% include 'swatch' with option %}
    	{% endunless %}
      {% endfor %}
    {% endif %}
    {% else %}
    <input name="id" data-productid="{{product.id}}" type="hidden" value="{{ current_variant.id }}">
    {% endif %}
       
    <div class="product-description rte" itemprop="description">
      
      {% for tag in product.tags %}{% if tag contains 'Tagline' %}<h3 class="h3 text-center">{{tag | remove:'Tagline' | remove :':' }}</h3>{% endif %}{% endfor %}
	  <div class="default desc show">
        {{ product.description }}
      </div>
      {% for option in product.options %}
      {% unless option contains 'Size' %}
      {% capture option_index %}option{{ forloop.index }}{% endcapture %}
	  {% assign option_values = product.variants | map: option_index | uniq %}	
      {% for flavor in option_values %}
      
      	{% for article in blogs['variant-descriptions'].articles %}
      		{% if flavor contains article.title %}
      		<div class="{{ article.title | handleize }} {{variant.title}} desc">
      			{{article.content }}
      		</div>
      		{% endif %}
      
      	{% endfor %}
      {% endfor %}
      {% endunless %}
      {% endfor %}
    </div>
  {% comment %} 
    Quantity Selector
  {% endcomment %}
    <div class="qtydiv lower-add-cart">
      <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label> 
      <input type="number" id="Quantity1" name="quantity" value="1" min="1" class="quantity-selector quantity-input">
    </div>
  </div>

  {% comment %} 
  Buttons
  {% endcomment %}
  {% if sold_out != true %}
  <button type="submit" name="add" id="AddToCart" class="btn orange large lower-add-cart" onclick="myFunction()">
    <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
  </button>
  
   <script>
    function myFunction() {
        swal({
      position: 'top-right',
      type: 'success',
      title: 'Product added to cart!',
      showConfirmButton: false,
      timer: 1500
    })
    }
  </script>
  {% endif %}

  {% comment %} 
  Product Description
  {% endcomment %}


  {% comment %} 
  Social Icons
  {% endcomment %}
 
</form>
<div>
  {% if sold_out == true %}
  <div class="stock-notice">
 	 <h5>Sold Out</h5>
 	 <p>This product is sold out, but don't worry. You can sign up here and we will notify you as soon as it becomes available.</p>
     {% if settings.newsletter_form_action != blank %}
    <form action="{{ settings.newsletter_form_action }}" method="post" id="mc-embedded-subscribe-form-banner" name="mc-embedded-subscribe-form" target="_blank" class=" newsletter-form-banner">
      <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.email' | t }}" name="EMAIL" id="mail-product" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
        <button type="submit" name="subscribe" id="subscribe-product" class="btn notify" value="">
          Notify Me
        </button>
    </form>
    {% endif %}
  </div>
{% endif %}
 <div class = "featured-product-social-wrapper">
    {% if section.settings.enable_social_sharing_products %}
    {% include 'social-sharing' %}
    {% endif %}
  </div>
</div>
<!-- BOLD - moved bundle load to theme.liquid -->
{%comment%}
{% unless bundle_loaded == 'true' %}
{% include 'shappify-bdl-load-bundle' %}
{% assign bundle_loaded = 'true' %}
{% endunless %} 
{%endcomment%}
